{
    "name": "intention-search-h5",
    "dependencies": {},
    "alias": {
        "scripts": "./src/scripts",
        "styles": "./src/styles",
        "libs": "./src/scripts/libs"
    },
    "refs": {},
    "compiler": "modular",
    "version": "0.0.1",
    "export": [
        {
            "path": "scripts/index.js",
            "no_version": false
        },
        {
            "path": "styles/index.scss",
            "no_version": false
        }
    ]
}