@font-face {
  font-family: 'H35';
  src: url('/font/fang.ttf');
}

@font-face {
  font-family: 'H55';
  src: url('/font/fang.ttf');
}

html {
  font-size: 100px;
}

.pageWrapper {
  width: 3.75rem;
  height: 6.04rem;
  transform-origin: top left;
  .page {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hidden {
  visibility: hidden;
}

.visibility {
  visibility: visible;
}



