@import "./libs/Yo/lib/ani/elastic-in-left";
@import "./libs/Yo/lib/ani/elastic-in-down";
@import "./libs/Yo/lib/ani/fade-in-down";

.exam {
    position: relative;
    height: 100%;
    background: url("../../img/exam-bottom-bg.jpg")  no-repeat;
    background-size: 100% 100% ;

    .city {
        position: absolute;
        top: .15rem;
        right: .32rem;
        width: .65rem;
        height: .725rem;
    }
    .happy-person {
        z-index: 99;
        position: absolute;
        left: 0.05rem;
        top: 0.05rem;
        width: .85rem;
        height: 1.35rem;
    }
    .unhappy-person {
        z-index: 99;
        position: absolute;
        left: .43rem;
        top: .38rem;
        width: .51rem;
        height: 1rem;
    }
    .success-number,
    .fail-number {
        position: absolute;
        font-size: .15rem;
        color: #92dba0;
    }
    .success-number {
        top: .1rem;
        right: .9rem;
    }
    .fail-number {
        top: .45rem;
        right: .92rem;
    }
    .blood {
        position: absolute;
        top: .24rem;
        left: .8rem;
        width: 2.07rem;
        height: .4rem;

        * {
            position: absolute;
        }
        .top {
            z-index: 2;
            width: 100%;
            height: 100%;
        }
        .middle {
            z-index: 1;
            top: .07rem;
            left: .4rem;
            width: .72rem;
            height: .235rem;
            background: #8bcd83;
            @include transition(width 1s);

            &::after {
                position: absolute;
                top: 0;
                left: 100%;
                width: 0;
                height: 0;
                content: " ";
                border-bottom: .24rem solid #8bcd83;
                border-right: .1rem solid transparent;
            }
        }
        .bottom {
            top: .07rem;
            left: .4rem;
            width: 1.25rem;
            height: .235rem;
        }
        .num {
            z-index: 4;
            left: .85rem;
            top: .1rem;
            width: .5rem;
            height: .15rem;
            line-height: .15rem;
            background: url("../../img/exam-blood-middle.png") no-repeat;
            background-size: 100% 100%;
            text-align: center;
            font-size: .12rem;
            color: #f4d959;
        }
        .bg {
            z-index: 5;
            left: .3rem;
            width: 1.43rem;
            height: .37rem;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAR4AAABKCAMAAABaf8uxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAAAuSURBVHja7MExAQAAAMKg9U9tCU+gAAAAAAAAAAAAAAAAAAAAAAAAAADgbQIMAFL2AAH5BWb3AAAAAElFTkSuQmC);
            background-size: 1.43rem .37rem;;
        }
    }
    .board {
        position: absolute;
        top: 1.17rem;
        left: .58rem;
        width: 2.59rem;
        font-size: 0.25rem;
        font-weight: bold;

        &.on {
            .question span {
                display: inline-block;;
            }
        }
        .question {
            position: relative;
            @include align();
            width: 100%;
            height: .95rem;
            font-size: 0.28rem;
            font-weight: bold;

            span {
                display: none;
                position: absolute;
                left: 0;
                right: 0;
                bottom: .13rem;
                text-align: center;
                font-size: .14rem;
            }
        }
        .answer {
            width: 2.2rem;
            height: 1.9rem;
            margin: -.05rem auto 0;
            background: url("../../img/exam-answer.jpg");
            background-size: 2.2rem 1.9rem;
            font-family: 'Chalkduster';

            .item {
                position: relative;
                width: 2.22rem;
                height: .37rem;
                line-height: .37rem;
                margin-bottom: .13rem;
                padding-left: .85rem;
                font-size: .12rem;

                &.success::after {
                    background: url("../../img/exam-answer-success-status.jpg");
                    background-size: .26rem .235rem;
                }
                &.on::after {
                    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAvCAMAAACbtxmBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIRQTFRFiYeEhYSDhoWDkY+H1M2dx8GZhIOCkpCHvrmVu7aUlJGIp6OO0Mmbv7qWzMaam5mKubSUnpuLmJWJlpSIy8WazsibqKWOw72XzceaoZ2MuLOTn5yLpqKN08ycwryXmZaJr6uRu7aVwLuWjYuFkI6Gxb+Yo6CNycOZ1c6dg4KCysCvAAAA3wjahgAAACx0Uk5T/////////////////////////////////////////////////////////wDH1gmMAAABEUlEQVR42rzW23KCMBAG4Cieam09a9W22oO6y77/+5UkEAIS2KWtewOzk2/+i2wmUUQxlSrWlf25Rt4l5XWYJURZtiIXyqt7opiHsAo1KUQ5wpZISRGiH8VDxny3QTMQIWOiHkj2yRj8ADka54aDbNBIhKxZeoaNPkXImqNvgsjtv0VbDnJTY820YAJoiOmw2S+eA6igHrro17xoAgjelWcGfR6C/leOdiUTGliA58gFXZkoUZNFii4VJnA0AN4OxnRWfJSo3qNGr2VThxIFJ8Tuiwhpte9sbkw90uppLUVa3ZomRHUofKAqTDOiVoj+Dumb0N6I0qT/R2b1b5D/iOEi0aOFxCjOkE0lBk/X/ggwAHLwkcQeP/pEAAAAAElFTkSuQmCC);
                    background-size: .26rem .235rem;
                }
                &:nth-child(3) {
                    margin-bottom: .17rem;
                }
                &::after {
                    position: absolute;
                    top: .07rem;
                    left: .37rem;
                    display: inline-block;
                    width: .26rem;
                    height: .235rem;
                    content: " ";
                    background: url("../../img/exam-answer-default-status.jpg");
                    background-size: .26rem .235rem;
                }
            }
        }
    }
    .btn {
        position: absolute;
        left: 1.06rem;
        bottom: 1.15rem;
        width: 1.62rem;
        height: .42rem;
        background: url("../../img/exam-btn.jpg");
        background-size: 1.62rem .42rem;
    }
    .nextWrapper {
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2.01rem;

        > * {
            position: absolute;
            left: 1.1rem;
        }
        .people {
            left: .6rem;
            bottom: 1.45rem;
            width: .46rem;
            height: .59rem;
        }
        .music {
            bottom: 1.6rem;
            width: 1.67rem;
            height: .28rem;
        }
        .explain {
            bottom: 1.11rem;
            width: 1.61rem;
            height: .275rem;
        }
        .next {
            left: 1.13rem;
            bottom: .55rem;
            width: 1.62rem;
            height: .37rem;
        }
    }
    .top-bg-1,
    .top-bg-2,
    .top-bg-3,
    .top-bg-4 {
        z-index: 2;
        position: absolute;
    }
    .top-bg-1 {
        bottom: 1.69rem;
        left: -.04rem;
        width: 1.01rem;
        height: .77rem;
    }
    .top-bg-2 {
        bottom: .43rem;
        left: -.04rem;
        width: 1.29rem;
        height: 1.26rem;
    }
    .top-bg-3 {
        bottom: 1.15rem;
        right: -.08rem;
        width: 1.21rem;
        height: 1.26rem;
    }
    .top-bg-4 {
        bottom: 0;
        right: .18rem;
        width: 1.76rem;
        height: .68rem;
    }
    .explain-layout {
        z-index: 1000;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .7);

        > * {
            position: absolute;
        }
        .container {
            top: 1.09rem;
            left: .48rem;
            width: 2.78rem;
            height: 3.7rem;
            background: url("../../img/exam-explain-layout.png");
            background-size: 100% 100%;
        }
        .close {
            top: 1.06rem;
            right: .62rem;
            width: .32rem;
            height: .32rem;
        }
        .next {
            top: 4.02rem;
            left: 1.06rem;
            width: 1.62rem;
            height: .33rem;
        }
        ul {
            left: .83rem;
            top: 2.15rem;
            font-size: .13rem;

            li:nth-child(1) {
                font-size: .11rem;

                span {
                    font-weight: 500;
                    font-size: .18rem;
                }
            }
            li:nth-child(2) {
                margin-bottom: .17rem;
                color: #f2e858;
                font-size: .12rem;
            }
            li:nth-child(n + 3) {
                margin-bottom: .09rem;
            }
        }
    }
}