.contain {
    background: url("../../img/exam_backgroud.png") no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.happy-person {
    height: 1.5rem;
    position: absolute;
    left: 0.1rem;
    top: 0.5rem;
}

.english-word {
    font-size: 0.25rem;
    font-weight: bold;
    position: absolute;
    top: 2.1rem;
    text-align: center;
    width: 100%;
}

.exam {
    position: absolute;
    top: 2.55rem;
    width: 100%;
    font-size: 0.2rem;
    font-weight: bold;
    font-family:'Chalkduster';
    line-height: 0.45rem;
}

.answer {
    background: url("../../img/selection_background.png") no-repeat;
    height: 0.45rem;
    text-align: center;
    margin: 0.1rem 0.6rem;
    background-size: contain;
}

