.pageWrapper {
    width: 3.75rem;
    height: 6.67rem;
    @include transform-origin(top left);
}

.contain {
    background: url("../../img/exam_backgroud.png")  no-repeat;
    background-size: 100% 100% ;
    height: 100%;
}

.happy-person {
    height: 1.25rem;
    position: absolute;
    left: 0.05rem;
    top: 0.4rem;
}

.english-word {
    font-size: 0.25rem;
    font-weight: bold;
    position: absolute;
    top: 1.7rem;
    text-align: center;
    width: 100%;
}

.exam {
    position: absolute;
    top:2.5rem;
    width: 100%;
    font-size: 0.25rem;
    font-weight: bold;
}

.answer {
    background: url("../../img/selection_background.png")  no-repeat;
    height: 0.4rem;
    text-align: center;
    margin: 0.2rem 0.5rem;
}

