@import "./libs/yo/usage/core/reset";
@import "./load.scss";
@import "./start.scss";
@import "./start-select.scss";
@import "./exam.scss";

@font-face {
    font-family:'Chalkduster';
    src:url('../../font/Chalkduster.ttf');
}

.pageWrapper {
    width: 3.75rem;
    height: 6.04rem;
    @include transform-origin(top left);
}