@import "./libs/yo/usage/core/reset";
@import "./exam.scss";
@import "./start.scss";
@import "./start-select.scss";
@import "./result.scss";

@font-face {
    font-family:'Chalkduster';
    src:url('../../font/Chalkduster.ttf');
}

html {
    font-size: 100px;
}

.pageWrapper {
    width: 3.75rem;
    height: 6.04rem;
    @include transform-origin(top left);
}

.font1 {
    font-family: PingFangSC;
}

.hide {
    display: none;
}