@import "./libs/yo/usage/core/reset";
@import "./libs/Yo/lib/ani/rotate";
@import "./load.scss";
@import "./start.scss";
@import "./start-select.scss";
@import "./result.scss";
@import "./exam.scss";
@import "./share.scss";
@import "./princess.scss";

@font-face {
    font-family: 'Chalkduster';
    src: url('../../font/Chalkduster.ttf');
}

html {
    font-size: 100px;
}

.pageWrapper {
    width: 3.75rem;
    height: 6.04rem;
    @include transform-origin(top left);
}

.font1 {
    font-family: PingFangSC;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.music-bg {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
}

.music-bg-open {
    @include animation(rotate 2s linear infinite);
}
