@import "./libs/Yo/lib/ani/zoom-in";

.load {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    background: url("/img/load-bg.jpg") no-repeat;
    background-size: cover;

    .process {
        position: absolute;
        top: 1.89rem;
        left: .31rem;
        height: 1.03rem;
        width: 2.95rem;
    }

    .blood {
        position: absolute;
        top: 2.8rem;
        left: .3rem;
        height: .12rem;
        width: 2.60rem;
    }

    .loading-current {
        height: .12rem;
        border-radius: 0.1rem;
        background: #63b472;
        width: 0;
    }

    .person {
        position: absolute;
        top: 2.47rem;
        left: .25rem;
        height: .45rem;
        width: 0.55rem;
    }

    .percent {
        position: absolute;
        top: 3rem;
        font-size: 0.55rem;
        width: 100%;
        text-align: center;
        color: #94b9cc;
        .sign {
            font-size: 0.3rem;
        }
    }


}
