@import "./libs/yo/usage/core/reset";
//@import "./libs/yo/usage/layout/yo-flex";

// 适配font-size
// @media screen and (min-width: 280px) {html{font-size:87.5px;}}
// @media screen and (min-width: 320px) {html{font-size:100px;}}
// @media screen and (min-width: 375px) {html{font-size:117.18px;}}
// @media screen and (min-width: 414px) {html{font-size:129.375px;}}
// @media screen and (min-width: 440px) {html{font-size:137.5px;}}
// @media screen and (min-width: 480px) {html{font-size:150px;}}
// @media screen and (min-width: 520px) {html{font-size:162.5px;}}
// @media screen and (min-width: 540px) {html{font-size:168.75px;}}

@font-face {
    font-family:'Chalkduster';
    src:url('./font/Chalkduster.ttf');
}

.pageWrapper {
    width: 3.75rem;
    height: 6.67rem;
    @include transform-origin(top left);
}

.contain {
    background: url("../../img/exam_backgroud.png") no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.happy-person {
    height: 1.5rem;
    position: absolute;
    left: 0.1rem;
    top: 0.5rem;
}

.english-word {
    font-size: 0.25rem;
    font-weight: bold;
    position: absolute;
    top: 2.1rem;
    text-align: center;
    width: 100%;
}

.exam {
    position: absolute;
    top: 2.55rem;
    width: 100%;
    font-size: 0.2rem;
    font-weight: bold;
    font-family:'Chalkduster';
    line-height: 0.45rem;
}

.answer {
    background: url("../../img/selection_background.png") no-repeat;
    height: 0.45rem;
    text-align: center;
    margin: 0.1rem 0.6rem;
    background-size: contain;
}

