.result {
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../img/result-bg.jpg") no-repeat;
    background-size: 100% 100%;

    > * {
        position: absolute;
    }
    .score {
        display: inline-block;
        top: 1.11rem;
        left: 1.37rem;
        width: 1rem;
        color: #fadd49;
        text-align: center;
        font-size: .3rem;
        letter-spacing: 2px;

        &.copy {
            top: 1.09rem;
        }
    }
    .img {
        top: 2.1rem;
        left: .52rem;
        width: 2.73rem;
        height: 2.57rem;
        background: rgba(157, 189, 184, .7);
    }
    .jump {
        left: 1.08rem;
        bottom: 1.16rem;
        width: 1.58rem;
        height: .4rem;
        background: url("../../img/result-jump.png");
        background-size: 100% 100%;
    }
    .show {
        bottom: .6rem;
        left: 1.18rem;
        width: 1.41rem;
        height: .375rem;
        
        &.on {
            background: url("../../img/result-xuanyao.jpg");
            background-size: 100% 100%;
        }
    }
}