@import "./libs/Yo/lib/ani/zoom-out";
@import "./libs/Yo/lib/ani/zoom-in";

.start {
    height: 100%;
    background: url("../../img/start_back.jpg") no-repeat;
    background-size: cover;
    z-index:1000;
    @include  animation( zoom-out 3s  2s linear  1);

    .word {
        position: absolute;
        top: .84rem;
        left: .24rem;
        height: 2.33rem;
    }

    .animation-elastic {
        animation: elastic 0.5s linear 5;
    }

    .elastic-out-down {
        //@include  animation(elastic-out-down 0.5s linear  1);
        animation: elastic-out-down  0.5s linear 1;
    }


    .animation-rotate-out {
        //@include  animation(elastic-out-down 0.5s linear  1);
        animation: rotate-out 1.4s linear 1;
    }

    .animation-rotate-out-2 {
        //@include  animation(elastic-out-down 0.5s linear  1);
        animation: rotate-out-2 5s linear 1;
    }

    .animation-rotate-out-reverse {
        //@include  animation(elastic-out-down 0.5s linear  1);
        animation: rotate-out-reverse 1s linear 1;
    }

    .animation-rotate-out-person {
        //@include  animation(elastic-out-down 0.5s linear  1);
        animation: rotate-out-person 0.6s linear 1;
    }

    .person {
        position: absolute;
        top: 2.72rem;
        left: 1.73rem;
        height: 2.78rem;
        width: 1.5rem;
    }

    .book1 {
        position: absolute;
        top: 3.42rem;
        left: .83rem;
        height: .5rem;
        width: .9rem;
    }

    .book2 {
        position: absolute;
        top: 4.07rem;
        left: 1.02rem;
        height: .62rem;
        width: .61rem;
    }

    .book3 {
        position: absolute;
        top: 2.93rem;
        right: .18rem;
        height: .37rem;
        width: .60rem;
    }
}

@-webkit-keyframes elastic {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
    }
    40% {
        -webkit-transform: translate3d(0, -10px, 0);
    }
    60% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-10px, 0, 0);
    }
}

@keyframes elastic {
    0% {
        transform: translate3d(0, 0, 0);
    }
    20% {
        transform: translate3d(0, 5px, 0);
    }
    40% {
        transform: translate3d(0, -5px, 0);
    }
    60% {
        transform: translate3d(0, 0, 0);
    }
    80% {
        transform: translate3d(5px, 0, 0);
    }
    100% {
        transform: translate3d(-5px, 0, 0);
    }
}

@-webkit-keyframes elastic-out-down {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
    }
}

@keyframes elastic-out-down {
    20% {
        transform: translate3d(0, 10px, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
}


@keyframes rotate-out {
    0% {
        transform-origin: center;
        opacity: 0;
    }
    20% {
        transform-origin: 200% 0 0;
        transform: rotate3d(0, 0, 1, 70deg) scale(0.8);
        opacity: 1;
    }
    40% {
        transform-origin: 200% 0 0;
        transform: rotate3d(0, 0, 1, 140deg) scale(0.7);
        opacity: 1;
    }
    60% {
        transform-origin: 180% 0 0;
        transform: rotate3d(0, 0, 1, 210deg) scale(0.6);
        opacity: 1;
    }
    80% {
        transform-origin: 180% 0 0;
        transform: rotate3d(0, 0, 1, 280deg) scale(0.4);
        opacity: 1;
    }
    100% {
        transform-origin: 150% 0 0;
        transform: rotate3d(0, 0, 1, 350deg) scale(0.2);
        opacity: 0;
    }
}

@keyframes rotate-out-2 {
    0% {
        transform-origin: center;
        opacity: 0;
    }
    20% {
        transform-origin: 600% 50% 0;
        transform: rotate3d(0, 0, 1, 70deg) scale(0.8);
        opacity: 1;
    }
    40% {
        transform-origin: 400% 30% 0;
        transform: rotate3d(0, 0, 1, 140deg) scale(0.7);
        opacity: 1;
    }
    60% {
        transform-origin: 200% 0 0;
        transform: rotate3d(0, 0, 1, 210deg) scale(0.5);
        opacity: 1;
    }
    80% {
        transform-origin: 150% 0 0;
        transform: rotate3d(0, 0, 1, 280deg) scale(0.3);
        opacity: 1;
    }
    100% {
        transform-origin: 150% 0 0;
        transform: rotate3d(0, 0, 1, 350deg) scale(0.5);
        opacity: 0;
    }
}

@keyframes rotate-out-reverse {
    0% {
        transform-origin: center;
        opacity: 1;
    }

    60% {
        transform-origin: -200% 0 0;
        transform: rotate3d(0, 0, 1, 50deg) scale(0.6);
        opacity: 1;
    }
    100% {
        transform-origin: -100% 0 0;
        transform: rotate3d(0, 0, 1, 100deg) scale(0.3);
        opacity: 0;
    }
}

@keyframes rotate-out-person {
    0% {
        transform-origin: center;
        opacity: 1;
    }
    40% {
        transform-origin: 10% 0 0;
        transform: rotate3d(0, 0, 1, 40deg) scale(0.8);
        opacity: 1;
    }
    40% {
        transform-origin: 10% 0 0;
        transform: rotate3d(0, 0, 1, 90deg) scale(0.6);
        opacity: 1;
    }
    60% {
        transform-origin: -10% 0 0;
        transform: rotate3d(0, 0, 1, 180deg) scale(0.4);
        opacity: 1;
    }
    80% {
        transform-origin: -10% 0 0;
        transform: rotate3d(0, 0, 1, 270deg) scale(0.25);
        opacity: 1;
    }
    100% {
        transform-origin: -10% 0 0;
        transform: rotate3d(0, 0, 1, 360deg) scale(0.1);
        opacity: 0;
    }
}