@import "./libs/Yo/lib/ani/zoom-in";
@import "./animation";

.start-select {
    height: 100%;
    background: url("../../img/start-select-bg.jpg") no-repeat;
    background-size: cover;
    z-index:999;
    @include  animation(zoom-in 0.5s linear  1);

    .word {
        position: absolute;
        top: 3.07rem;
        height: 1.88rem;
        width: 2.99rem;
        left: 0.31rem;
        z-index:999;
        background: url("../../img/start-select-word.png") no-repeat;
        background-size: cover;
    }


    .animation-word-in {
        animation: word-in 2s linear 1;
    }

    .animation-button-in {
        animation: button-in 0.5s  linear 1;
    }

    .button-4 {
        position: absolute;
        top: 5.23rem;
        left: .27rem;
        height: .44rem;
        width: 1.41rem;
    }

    .button-4-bg {
        @extend .button-4;
        background: url("../../img/start-select-4.png") no-repeat;
        background-size: cover;
    }

    .button-6 {
        position: absolute;
        top: 5.23rem;
        right: .27rem;
        height: .44rem;
        width: 1.41rem;
    }
    .button-6-bg {
        @extend .button-6;
        background: url("../../img/start-select-6.png") no-repeat;
        background-size: cover;
    }
}